body {
    margin: 0;
    padding: 0;
}


.font-style {
    font-style: italic; 
}

/* Контент */
.conteiner {
    display: inline-block;
    background-color: rgb(170, 170, 170);
}

.list-conteyner {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 20px;
}

.list-conteyner>p {
    text-align: center;
    font-weight: bold;

}

.img-conteiner {
    float: right;
    border-style: solid;
    margin-left: 10px;
    padding: 5px;
}

.img-conteiner>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo-html {
    max-width: 80px;
}

/* Верхняя понель навигации */

.nav-conteintr {
    display: flex;
    justify-content: space-between;
    background-color: rgb(166, 222, 248);
}

.nav-conteintr>nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-conteintr>nav>ul>li>a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}




@media  (max-width: 900px) {
    .nav-conteintr {
        flex-direction: column;
    }
}


.text-page {
    padding-left: 15px;
}

.page {
    display: flex;
    justify-content: center;
}

.header {
    width: 14%;
    background-color: rgb(212, 212, 212);
}


.heart {
    width: 82%;
}


.header>ol {
    list-style: none;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
}


.header>div {
    width: 100%;

}

.header>div>img {
    width: 100%;
}